* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #1C1C1C;
}

.first {
    background-color: #a0a0a0;
}

.numkey {
    background-color: #2d2d2d;
}

.operator, .yellow-btn{
    background-color: #f69a01;
}

#calc-display {
    font-size: 3em;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    color: #f1f1f1;
    width: 30vh;
    height: 100px;
    padding: 40px;
}

#calc-buttons {
    aspect-ratio: 9/12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

#calc-buttons button {
    aspect-ratio: 1 / 1;
    color: #f1f1f1;
    font-size: 1.7em;
    border-radius: 50%;
    border: 0;
}

#calc-buttons #zero {
    aspect-ratio: 2 / 1;
    border-radius: 50px;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}